extends layout

block content
    div.row
        div.col-md-3#navProduct
            div.thumbnail
                img(src="img/olymp1.jpg")
        div.col-md-3#navProduct
            div.thumbnail
                img(src="img/olymp2.jpg")
        div.col-md-3#navProduct
            div.thumbnail
                img(src="img/olump4.jpg")