extends layout

block content
    div.col-xs-6
        img.img-responsive(src="img/brain.jpg")
    div.col-xs-6
        h1 Влиянието на Hack Bulgaria върху мозъка ни
        h3 Колкото повече, толкова повече!
        p Мозъкът е изумителна машина, за която продължаваме да не знаем почти нищо. Паметта представлява още по-голяма загадка и от самия мозък. Може да забравите в колко часа имате важна среща днес, но все още си спомняте ябълковия сладкиш, който баба ви е направила, когато сте били на шест години.