html(lang="en")
head
    meta(charset="UTF-8")
    title GYM
    link(href="lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(rel="stylesheet", type="text/css", href="css/style.css")
body.container
    div.row.bg-info
        div.page-header
            header.col-xs-12
                h1 Hack Bulgaria GYM
    div.row
        nav.navbar.navbar-default
            div.container-fluid
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active: a(href="index") Home
                        li: a(href="article") Articles
                        li: a(href="price") Prices
                        li: a(href="gallery") GYM
                        li: a(href="about") About us
    div.row
        div.col-md-12
            block content
    div.row.bg-info
        div.col-md-12
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laboriosam laborum deleniti rerum pariatur sit, fugiat facere, repellendus esse officia ad cupiditate animi amet. Nisi ratione veritatis possimus voluptatum quo, non, quia nobis ut explicabo perspiciatis, ab esse reprehenderit impedit aliquid nemo debitis recusandae temporibus voluptatibus iste commodi! Dicta beatae neque aliquam sint sed recusandae blanditiis sit voluptatum! Neque, quod aut laudantium autem, alias molestias enim accusantium reprehenderit voluptatum vero id eos soluta iste necessitatibus odit qui recusandae suscipit aliquid. Possimus consequuntur molestiae eaque, dolorem dolores minus, placeat id laudantium, amet odit ab error rem sapiente? Eos, quo a sequi!