extends layout

block content
    table.table
        tr
            th 1 hour
            th 1 day
            th 1 week
            th 1 month
        tr
            td 1
            td 3
            td 10
            td 25