html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=windows-1251")
    link(href="stylesheet.css", type="text/css", rel="stylesheet")
    title Дрехи за всеки
  body
    #container
      // HEADER
      header
        .headLine
        // INNER-HEADER
        #inner-header.clearfix
          // LEFT-HEADER
          #leftHeader.imgHeader
          // LOGO
          #logo
            // NAVIGATION
            nav#navigation
              ul
                // BUTTONS
                li.buttons
                  a(href="/")
                    p.buttonsText Начало
                li.buttons
                  a(href="#", onclick="alert('under construction')")
                    p.buttonsText Зареждане
                li.buttons
                  a(href="/bag")
                    p.buttonsText Количка
                li.buttons
                  a(href="#", onclick="alert('under construction')")
                    p.buttonsText За нас
            // H1
            h1
              a(href="#")
                strong Дрехи
                br
                strong за всеки
            // IMG UNDER H1
            #img
          // RIGHT-HEADER
          #rightHeader.imgHeader
        // END INNER-HEADER
        .headLine
      // END HEADER
      // SALE-SECTION
      section#sale-section.clearfix
        #left-sale.sale
        #right-sale.sale
      // END SALE-SECTION
      // MAIN-SECTION
      section#main-section.clearfix
        table
          tbody
            tr
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
            tr
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
            tr
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
              td
                a(href="view")
                  img(src="img/images.jpg")
      // END-MAIN-SECTION
      .headLine
      // PROMO
      section#promo
        marquee(scrollamount="6", height="15", margin-top:1px="")
          strong(style="color:#FBDE39; font-size:18px font-family:cursive")
            | Промоция! |
            | Промоция! |
            | Промоция! |
            | Промоция! |
            | Промоция! |
            | Промоция! |
      // END-PROMO
      section#marki
        article
      // <div class="headLine"></div>
      footer#bottom

        //
          <img id="leftSection"src="http://3.bp.blogspot.com/-stwZzsB01ns/UK0TYavHe_I/AAAAAAAADI8/sZ-gzhWamHQ/s1600/SALEtag.jpg"/>
                    <div id="centerSection"><img  src="http://www.2pass.co.uk/60_off.gif"/></div>
                    <img id="rightSection"src="http://3.bp.blogspot.com/-stwZzsB01ns/UK0TYavHe_I/AAAAAAAADI8/sZ-gzhWamHQ/s1600/SALEtag.jpg"/>
                        
                        <marquee scrollamount="4" height="70" margin-top:1px >
                            <img src="D:\Downloads\animated-gifs-santa-claus-15.gif"/>
                        </marquee>
        //
          <aside id="rightSide">
                        <iframe  width="325" height="400" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=bg&amp;geocode=&amp;q=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%E2%80%9E%D0%9C%D0%BE%D1%80%D0%B0%D0%B2%D0%B0%E2%80%9C+8,+%D0%92%D1%80%D0%B0%D1%86%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;aq=0&amp;oq=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%22%D0%9C%D0%BE%D1%80%D0%B0%D0%B2%D0%B0+8%22&amp;sll=43.206142,23.553735&amp;sspn=0.001326,0.002835&amp;doflg=ptk&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%E2%80%9E%D0%9C%D0%BE%D1%80%D0%B0%D0%B2%D0%B0%E2%80%9C+8,+3002+%D0%92%D1%80%D0%B0%D1%86%D0%B0,+%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
                    </aside>
