html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=windows-1251")
    link(href="stylesheet.css", type="text/css", rel="stylesheet")
    title Дрехи за всеки
  body
    #container
      // HEADER
      header
        .headLine
        // INNER-HEADER
        #inner-header.clearfix
          // LEFT-HEADER
          #leftHeader.imgHeader
          // LOGO
          #logo
            // NAVIGATION
            nav#navigation
              ul
                // BUTTONS
                li.buttons
                  a(href="/")
                    p.buttonsText Начало
                li.buttons
                  a(href="#", onclick="alert('under construction')")
                    p.buttonsText Зареждане
                li.buttons
                  a(href="bag")
                    p.buttonsText Количка
                li.buttons
                  a(href="#", onclick="alert('under construction')")
                    p.buttonsText За нас
            // H1
            h1
              a(href="#")
                strong Дрехи
                br
                strong за всеки
            // IMG UNDER H1
            #img
          // RIGHT-HEADER
          #rightHeader.imgHeader
        // END INNER-HEADER
        .headLine
      // END HEADER
      section.clearfix
        div
          a(href="view")
            img(src="img/images.jpg")