html
    head
        title MyBlog
        link(href='/css/style.css', rel='stylesheet')
    body
        header
            p header
                div#headerPost
                    p div#headerPost
                    h1 Blog Test
        nav
            p nav
            div#home
                p Home
            div#posts
                p Posts

        section
            div#leftSection
                p left section
            div#rightSection
                p right section
        footer
            p FOOTER
